<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name=”fediverse:creator” content=”@KO6YQ@pnw.zone” />
        <title>AlertGizmo</title>
    </head>
    <body>
        <h1><% site.name %></h1>

        <p>by Ian Kluft</p>

        <p>site content TBD - this is a placeholder while setting up site deployment script</p>

        <p>See the <a href="https://github.com/ikluft/AlertGizmo">AlertGizmo software</a> in the Github repository</p>
    </body>
</html>
